/* Styling goes in this file */

body {
	font-family: Arial;

}

.centered {
	text-align: center;
}

.la-header {
	text-align: left;
}

.row {
	display: flex;
	flex-direction: row;
	text-align: left;
}

/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
.column {
	float: left;
	width: 50%;
}